body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #0d0d0d;
    border-bottom: 1px solid #222;
}

.nav-logo {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.nav-links a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
}

.nav-links a:hover {
    color: #fff;
}

/* HERO */
.hero {
    padding: 100px 20px;
    text-align: center;
    background: #151515;
}

.ct
